*{
    margin: 0;
    padding: 0;
}
/* header-section */
.menu-container{
    background: #584e4e;
    display: flex;
    justify-content: space-around;
    padding: 20px;
    align-items: center;
}
.logo-photo{
    width: 120px;
    
}
.menus{
    display: flex;
}
.menus li{
    list-style: none;
    margin-left: 15px;
    color: rgb(246, 245, 244);
    font-size: 20px;
    cursor: pointer;
    
}
.menus li:hover{
    color: chocolate;
}
/* bannar-section */
.bannar-section{
    display: flex;
    justify-content: space-around;
    height: 100vh;
    align-items: center;
    background-image: url("./img/milky-way-ge3a9f8544_1280.jpg"),
    linear-gradient(45deg,rgb(70, 82, 21),rgb(65, 16, 77));
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.banner-text h1{
    font-size: 55px;
    font-weight: bold;
}
.banner-text p{
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.btn{
    
    font-size: 17px;
    padding: 10px 20px;
    margin-top: 20px;
    background: rgb(240, 14, 14);
    color: aliceblue;
    border: none;
}
.btn:hover{
    background: #0bbc0b;
    color: aliceblue;
    border: none;
}

.banner-photo{
    width: 300px;
    
}
/* about-section */
.about-section{
    display: flex;
    justify-content: space-around;
    flex-direction: row-reverse;
    align-items: center;
    background: white;
}
.head{
    text-align: center;
    font-size: 55px;
    font-weight: bold;
    padding: 20px;
}
.about-text{}
.about-text h2{
    font-size: 30px;
    font-weight: bold;
}
.about-text p{
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.about-image{}